@import "tailwindcss";


@font-face {
    /* https://open-foundry.com/fonts/bagnard_regular */
	font-family: Bagnard;
	src: url('/src/Bagnard.otf') format('opentype');
	font-display: swap;
}

.font-alt{
    font-family: "Bagnard", serif;
}